/*Цвета зон для визуализации и лучшего восприятия*/

body {
    margin: 0px 0px 0px 0px;
}

/*ОБЩИЙ*/

.wrapper {
    display: flex;
    flex-flow: row wrap;
}

.wrapper>* {
    padding: 10px;
    flex: 1 100%;
}

/*HEADER*/

.header {
    background-color: darkseagreen;
}

.header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav_name {
    font-size: 25px;
}

/*MENU*/

.nav {
    display: flex;
    background: deepskyblue;
    flex-direction: column;
    justify-content: flex-start;
}

.nav_link1, .nav_link2, .nav_link3 {
    float: left;
    margin-left: 25px;
}

/*CONTENT*/

.links {
    background-color: blueviolet;
}

.table {
    order: 5;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

th, td {
    border-style: solid;
    border-width: 1px;
}

tr:nth-child(2n) {
    background-color: cornflowerblue;
}

.form {
    order: 4;
    background-color: darkkhaki;
}

/*FOOTER*/

.footer {
    order: 6;
    background-color: darkseagreen;
}

.footer_nav_name {
    font-size: 25px;
    padding: 25px;
}

/*MEDIA QUERY - DEVICE 600px-800px*/

@media (min-width: 600px) and (max-width: 800px) {
    .header_nav_name {
        font-size: 35px;
    }
}

/*MEDIA QUERY - DESKTOP & TABLETS*/

@media all and (min-width: 800px) {
    .header {
        margin: 0 auto;
        height: 100px;
        width: 100%;
    }
    .header_nav {
        margin: 0 auto;
        max-width: 960px;
        padding: 25px;
        display: block;
    }
    .header_nav_logo {
        float: left;
    }
    .header_nav_name {
        margin-left: 20px;
        float: left;
        font-size: 45px;
    }
    .nav {
        margin: 0 auto;
        max-width: 960px;
        flex-direction: row;
    }
    .links {
        margin: 0 auto;
        max-width: 960px;
    }
    .table {
        /* border-right: solid 5px #f00; */
        margin: 0 auto;
        max-width: 960px;
        order: 4;
    }
    .form {
        margin: 0 auto;
        max-width: 960px;
        order: 5;
    }
    .footer {
        position: relative;
        height: 100px;
        width: 100%;
        order: 6;
    }
    .footer_nav_name {
        margin: 0 auto;
        max-width: 960px;
    }
}

/*MEDIA QUERY - DESKTOP >1980*/

@media all and (min-width: 1980px) {
    .header_nav {
        max-width: 1300px;
    }
    .nav {
        max-width: 1300px;
    }
    .links {
        max-width: 1300px;
    }
    .table {
        max-width: 1300px;
    }
    table {
        width: 700px;
    }
    .form {
        max-width: 1300px;
    }
    .footer_nav_name {
        max-width: 1300px;
    }
}